<div class="k-page k-page_races">

    <nav-header data-section="races"></nav-header>

    <div class="k-filters k-filters_period">
        <label class="k-filter k-filter_period" ng-class="{'k-filter_active': periodIsActive('all')}">
            <a class="k-link_filter" ng-click="setPeriod('all')">Вся история</a>
        </label>
        <label class="k-filter k-filter_period" ng-class="{'k-filter_active': periodIsActive(today)}">
            <a class="k-link_filter" ng-click="setPeriod('today')">Сегодня</a>
        </label>
        <label class="k-filter k-filter_period" ng-class="{'k-filter_active': periodIsActive(yesterday)}">
            <a class="k-link_filter" ng-click="setPeriod('yesterday')">Вчера</a>
        </label>
    </div>

    <races data-selected-clubs="selectedClub" data-page="page" data-change-page="changePage(page)" data-date="date"></races>
</div>
