<div class="k-table k-races-list">
    <div class="k-table-header k-races-list__race_header k-races-list_single-club">
        <div class="k-table-header__cell k-race__cell_name">Заезд</div>
        <div class="k-table-header__cell k-race__cell_date">Дата</div>
        <div class="k-table-header__cell k-race__cell_winner">Победитель</div>
        <div class="k-table-header__cell k-race__cell_kart">Карт</div>
        <div class="k-table-header__cell k-race__cell_laps">Лучшее время</div>
    </div>

    <div class="k-table-row k-table-row_zebra k-races-list_single-club" ng-repeat="race in races track by $index">
        <div class="k-table-cell k-race__cell_name">
            <a class="k-link" href="/#/race/{{::clubName}}/{{::race.id}}">{{:: race.name }}</a>
        </div>
        <div class="k-table-cell k-race__cell_date" ng-bind-html="race.date | raceDate"></div>
        <div class="k-table-cell k-race__cell_winner">
            <a class="k-link" href="/#/pilot/{{::race.winnerId}}">{{:: race.winner }}</a>
        </div>
        <div class="k-table-cell k-race__cell_kart">{{:: race.winnerKart }}</div>
        <div class="k-table-cell k-race__cell_laps">{{:: race.best }}</div>
    </div>
</div>

<div class="k-paging-holder" ng-if="date===null">
    
    <div class="k-paging">
        <h5>Страницы</h5>
        <div class="k-paging__page"
            ng-class="{ 'k-paging__page_selected': p == page }"
            ng-repeat="p in paging track by $index"
            ng-click="setPage(p)">
            {{:: p }}
        </div>
    </div>
</div>
