<div class="k-page k-page_races">

    <h2 class="k-header">Список заездов</h2>

    <div class="k-clubs k-clubs_races">
        <label class="k-club-select"
            ng-class="{ 'k-club-select_active' : selectedClubs.indexOf(value) > -1}"
            ng-repeat="(key,value) in clubs track by $index"
            ng-click="selectClub(value)">
            {{:: key}}
        </label>
    </div>

    <races
        data-selected-clubs="selectedClubs"
        data-clubs="clubs"
        data-page="page"
        data-change-page="changePage(page)"
        data-date="date">
    </races>
</div>
