.k-driver__wrapper
{
    display: table-cell;
    width: 80%;
    vertical-align: top;
}

.k-driver__stats
{
    background-color: @color_5;
}

.k-driver__name
{
    font-size: 28px;
}

.k-driver-club
{
    display: table;
    width: 100%;
}

.k-driver-club__row
{
    display: table-row;
}

.k-driver-club__cell
{
    display: table-cell;
}
