html {
    font-size: 0.8em;
    background-color: @color_1;
    color: @color_3;
    font-family: Roboto, "PT Sans", Ubuntu, Arial, tahoma, verdana, sans-serif;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.k-copyleft {
    color: @color_3;
    height: 90px;
    line-height: 90px;
    text-align: center;
    margin-top: 50px;
}
