<div class="k-page k-page_pilot">

    <h2 class="k-header">Статистика по пилоту {{:: name }}</h2>

    <div class="k-driver__wrapper">
        <div class="k-driver__stats">

            <div class="k-driver-club">
                <div class="k-driver-club__row k-driver-club__header">
                    <div class="k-driver-club__cell k-driver-club__cell_name"></div>
                    <div class="k-driver-club__cell k-driver-club__cell_date">Количество гонок</div>
                    <div class="k-driver-club__cell k-driver-club__cell_winner">Лучшее время</div>
                </div>

                <div class="k-driver-club__row" ng-repeat="(key,value) in clubStats track by $index">
                    <div class="k-driver-club__cell k-driver-club__header ">{{:: clubsIds[key]}}</div>
                    <div class="k-driver-club__cell">{{:: value.count}}</div>
                    <div class="k-driver-club__cell">{{:: value.best}}</div>
                </div>
            </div>

        </div>
    </div>

    <h3 class="k-header">Заезды с участием пилота</h3>

    <div class="k-races-list">
        <div class="k-races-list__race k-races-list__race_header" ng-class="{ 'k-races-list_single-club': selectedClubs.length === 1}">
            <div class="k-race__cell k-race__cell_name">Заезд</div>
            <div class="k-race__cell k-race__cell_club" ng-if="selectedClubs.length > 1">Клуб</div>
            <div class="k-race__cell k-race__cell_date">Дата</div>
            <div class="k-race__cell k-race__cell_kart">Карт</div>
            <div class="k-race__cell k-race__cell_laps">Позиция</div>
            <div class="k-race__cell k-race__cell_winner">Лучшее</div>
            <div class="k-race__cell k-race__cell_laps">Среднее</div>
        </div>

        <div class="k-races-list__race" ng-repeat="race in races track by $index" ng-class="{ 'k-races-list_single-club': selectedClubs.length === 1}">
            <div class="k-race__cell k-race__cell_name">
                <a class="k-link" href="/#/race/{{race.id}}">{{ race.name }}</a>
            </div>

            <div class="k-race__cell k-race__cell_club" ng-if="selectedClubs.length > 1">{{ clubsIds[ race.clubid ] }}</div>
            <div class="k-race__cell k-race__cell_date">{{ race.date | date:'EEEE, d MMM HH:mm' }}</div>
            <div class="k-race__cell k-race__cell_kart">{{ race.kart }}</div>
            <div class="k-race__cell k-race__cell_winner">{{ race.pos }}</div>
            <div class="k-race__cell k-race__cell_laps">{{ race.best }}</div>
            <div class="k-race__cell k-race__cell_laps">{{ race.average }}</div>
        </div>
    </div>

    <div class="k-paging-holder">
        <div class="k-paging">
            <div class="k-paging__page" ng-class="{ 'k-paging__page_selected': p == page }" ng-repeat="p in paging track by $index" ng-click="changePage(p)">
                {{ p }}
            </div>
        </div>
    </div>

</div>
