<div class="k-page k-page_club">

    <nav-header data-section="club"></nav-header>

    <div class="k-filters k-filters_period">
        <label class="k-filter k-filter_period" ng-class="{'k-filter_active': isActive('month')}">
            <a href="javascript:void(0)" class="k-link k-link_filter" ng-click="setPeriod('month')">Месяц</a>
        </label>
        <label class="k-filter k-filter_period" ng-class="{'k-filter_active': isActive('week')}">
            <a href="javascript:void(0)" class="k-link k-link_filter" ng-click="setPeriod('week')">Неделя</a>
        </label>
        <label class="k-filter k-filter_period" ng-class="{'k-filter_active': isActive(today)}">
            <a href="javascript:void(0)" class="k-link k-link_filter" ng-click="setPeriod('today')">Сегодня</a>
        </label>
        <label class="k-filter k-filter_period" ng-class="{'k-filter_active': isActive(yesterday)}">
            <a href="javascript:void(0)" class="k-link k-link_filter" ng-click="setPeriod('yesterday')">Вчера</a>
        </label>
    </div>

    <club data-club-id="clubId" data-period="period"></club>

</div>
