<header class="k-filters__root">

    <div class="k-filters k-filters_clubs">
        <label class="k-filter k-filter__club" 
            ng-class="{ 'k-filter_active' : $ctrl.clubId == club.id}" 
            ng-repeat="(clubName, club) in ::$ctrl.clubs track by club.id">
            <a class="k-link_filter" 
                ng-click="$ctrl.changeClub(clubName)">{{:: club.title }}</a>
        </label>
    </div>

    <div class="k-filters k-filters_types" ng-show="$ctrl.filtersEnabled">
        <label class="k-filter k-filter_type k-filter_active" ng-if="$ctrl.stateName=='app.races'">
            <a href="javascript:void(0)" class="k-link_filter">Заезды</a>
        </label>
        <label class="k-filter k-filter_type" ng-if="$ctrl.stateName!='app.races'">
            <a ng-click="$ctrl.changeClub($ctrl.clubName, 'app.races')" class="k-link_filter">Заезды</a>
        </label>

        <label class="k-filter k-filer_type k-filter_active" ng-if="$ctrl.stateName=='app.club'">
            <a href="javascript:void(0)" class="k-link_filter">Топ 20</a>
        </label>
        <label class="k-filter k-filter_type" ng-if="$ctrl.stateName!='app.club'">
            <a ng-click="$ctrl.changeClub($ctrl.clubName, 'app.club')" class="k-link_filter">Топ 20</a>
        </label>
        <!-- <label class="k-filter k-filter_type k-filter_active" ng-if="section=='live'">
            <a href="javascript:void(0)" class="k-link_filter">Live</a>
        </label>
        <label class="k-filter k-filter_type" ng-if="section!=='live'">
            <a href="/#/live/{{::clubName}}" class="k-link_filter">Live</a>
        </label> -->
    </div>

    <div ng-transclude=""></div>
</header>