<div class="k-loading" ng-show="loading&&!fail">Загрузка</div>
<div class="k-path" ng-hide="loading">
    <div class="k-path__step">
        <a href="/#/races/{{:: clubName }}/all/1" class="k-link"> {{:: clubTitle }} </a>
    </div>
    <div class="k-path__step">&raquo;</div>
    <div class="k-path__step">
        <a href="/#/races/{{:: clubName }}/date/{{:: race.basic.dateShort }}" class="k-link"> {{:: race.basic.date | raceDate }} </a>
    </div>
    <div class="k-path__step">&raquo;</div>
    <div class="k-path__step">
        {{:: race.basic.name }}
    </div>
</div>

<h3 class="k-header">Сводные данные</h3>
<div class="k-table k-race-laps__drivers{{driversCount}}" ng-hide="loading">
    <div class="k-table-header">
        <div class="k-table-header__cell k-race-header_col">&nbsp;</div>
        <div class="k-table-header__cell k-race-header" ng-repeat="(id, driver) in race.drivers track by $index">
            <a class="k-link" href="/#/pilot/{{::id}}">{{::  driver.name }}</a>
        </div>
    </div>

    <div class="k-table-row k-race-lap">
        <div class="k-table-cell k-table-header-col__cell">Лучшее время</div>
        <div class="k-table-cell k-race-cell_{{:: $index+1 }}" ng-repeat="driver in race.drivers track by $index">
            {{:: driver.best }}
        </div>
    </div>
    <div class="k-table-row k-race-lap">
        <div class="k-table-cell k-table-header-col__cell">Среднее время</div>
        <div class="k-table-cell k-race-cell_{{:: $index+1 }}" ng-repeat="driver in race.drivers track by $index">
            {{:: driver.average }}
        </div>
    </div>
    <div class="k-table-row k-race-lap">
        <div class="k-table-cell k-table-header-col__cell">Позиция старт → финиш</div>
        <div class="k-table-cell k-race-cell_{{:: $index+1 }}" ng-repeat="driver in race.drivers track by $index">
            <span ng-if="driver.startPos!==driver.pos">{{:: driver.startPos }} → {{:: driver.pos }}</span>
            <span ng-if="driver.startPos===driver.pos">{{:: driver.pos }}</span>
        </div>
    </div>
    <div class="k-table-row k-race-lap">
        <div class="k-table-cell k-table-header-col__cell">Кругов пройдено</div>
        <div class="k-table-cell k-race-cell_{{:: $index+1 }}" ng-repeat="driver in race.drivers track by $index">
            {{:: driver.lapsFinished }}
        </div>
    </div>
    <div class="k-table-row k-race-lap" ng-if="changesCount > 0">
        <div class="k-table-cell k-table-header-col__cell">Замен картов</div>
        <div class="k-table-cell k-race-cell_{{:: $index+1 }}" ng-repeat="driver in race.drivers track by $index">
            {{:: driver.kartChanges.length-1 }}
        </div>
    </div>
    <div class="k-table-row k-race-lap" ng-if="changesCount==0">
        <div class="k-table-cell k-table-header-col__cell">Карт</div>
        <div class="k-table-cell k-race-cell_{{:: $index+1 }}" ng-repeat="(did, driver) in race.drivers track by $index">
            {{:: driver.kartChanges[0].kart }}
        </div>
    </div>
</div>

<h3 class="k-header">Покруговка</h3>
<div class="k-table k-race-laps__drivers{{driversCount}}" ng-hide="loading">
    <div class="k-table-header">
        <div class="k-table-header__cell k-race-header_col">&nbsp;</div>
        <div class="k-table-header__cell k-race-header" ng-repeat="(id, driver) in race.drivers track by $index">
            <a class="k-link" href="/#/pilot/{{::id}}">{{::  driver.name }}</a>
        </div>
    </div>
    <div class="k-table-row k-race-lap" ng-repeat="lap in race.laps track by $index" ng-init="lapIndex = $index">
        <div class="k-table-cell k-table-header-col__cell">{{:: $index+1 }}</div>
        <div class="k-table-cell k-race-cell_{{:: $index+1 }}" ng-class="{'k-race-cell_best':  lap[ dkey ].t == race.drivers[ dkey ].best }" ng-repeat="(dkey, dvalue) in race.drivers track by $index">
            <span class="k-cell_pos" ng-if="posChanges[ lapIndex+1 ][ dkey ]" title="Смена позиции">{{:: posChanges[ lapIndex+1 ][ dkey ]}}</span> {{:: lap[ dkey ].t }}
            <span class="k-cell_change" ng-if="kartChanges[ lapIndex+1 ][ dkey ]" title="{{::kartChanges[ lapIndex+1 ][ dkey ]}}">⇄</span>
        </div>
    </div>
</div>

<h3 class="k-header" ng-hide="loading" ng-if="changesCount > 1">Гоночные отрезки</h3>
<div class="k-race-kart" ng-hide="loading" ng-if="changesCount > 1" ng-repeat="(did, driver) in race.drivers track by $index">
    <div class="k-race-kart__driver">{{:: driver.name }}</div>

    <div class="k-race-kart__part" ng-class="{ 'k-race-kart__part_first': $index == 0}" style="width: {{::part.perc}}%" ng-repeat="part in driver.kartChanges track by $index">

        <div class="k-race-kart__wrapper">
            <div class="k-race-kart__distance" ng-if="part.distance > 0">
                <div class="k-race_kart__laps">{{:: part.distance }}</div>
                <div class="k-race_kart__avg">{{:: part.avg }}</div>
                <div class="k-arrow"><div class="k-arrow-head"></div></div>
            </div>

            <div class="k-race-kart__change">
                {{:: part.kart }}
                <div class="k-race-kart__lap">{{:: part.lap }}</div>
            </div>
        </div>
    </div>

</div>
<!-- <pre>{{ race.drivers | json }}</pre> -->
<canvas class="k-race-chart" width="800" height="300" ng-hide="loading||fail"></canvas>
<div class="k-error" ng-show="fail">Не удалось загрузить данные. Попробуйте позднее</div>
