<div class="k-race-data">
    <div class="k-race-data__row">

        <div class="k-race-data__cell k-race-data__cell_grid">

            <div class="k-race-laps">
                <div class="k-race-drivers">
                    <div class="k-race-driver">&nbsp;</div>
                    <div class="k-race-driver k-race-cell_{{ $index+1 }}" ng-repeat="driver in race.drivers track by $index">
                        {{ driver.name }}
                        <div class="k-race-driver__cart">{{ driver.kart }}</div>
                    </div>
                </div>
                <div class="k-race-lap" ng-repeat="lap in race.laps track by $index">
                    <div class="k-race-cell k-race-cell_header">{{ $index+1 }}</div>
                    <div class="k-race-cell k-race-cell_{{ $index+1 }}" ng-class="{'k-race-cell_best': true}" ng-repeat="(dkey, dvalue) in race.drivers track by $index">
                        {{ lap[ dkey ].time }}
                    </div>

                </div>
            </div>
            
        </div>
        <div class="k-race-data__cell k-race-data__cell_basic">
            <div class="k-race-basic">
                <div class="k-race_basic_label">Гонка: <span class="k-race_basic_value">{{ race.basic.name }}</span></div>
                <div class="k-race_basic_label">Дата: <span class="k-race_basic_value">{{ race.basic.date | date:'EEEE, d MMM HH:mm' }}</span></div>
                <div class="k-race_basic_label">Победитель: <span class="k-race_basic_value">{{ race.basic.winner }}, карт {{ race.basic.winnerKart }}</span></div>
                <div class="k-race_basic_label">Лучшее время: <span class="k-race_basic_value">{{ race.basic.best }}</span></div>
            </div>
        </div>
    </div>
    <div class="k-race-data__row">
        <canvas id="myChart" width="800" height="300"></canvas>
    </div>
</div>
