<div class="k-header">

    <div class="k-path">
        <div class="k-path__step">
            <a href="/#/races/{{:: clubsNames[race.basic.clubid] }}/all/1" class="k-link"> {{:: clubsIds[race.basic.clubid] }} </a>
        </div>
        <div class="k-path__step">&raquo;</div>
        <div class="k-path__step">
            <a href="/#/races/{{:: clubsNames[race.basic.clubid] }}/date/{{:: race.basic.dateShort }}" class="k-link"> {{:: race.basic.date | raceDate }} </a>
        </div>
        <div class="k-path__step">&raquo;</div>
        <div class="k-path__step">
            {{:: race.basic.name }}
        </div>
    </div>

</div>

<div class="k-race-data">
    <div class="k-race-data__row">

        <div class="k-race-data__cell k-race-data__cell_grid">
            <div class="k-race-laps k-race-laps__drivers{{driversCount}}">

                <div class="k-table-header">
                    <div class="k-table-header__cell">&nbsp;</div>
                    <div class="k-table-header__cell k-race-driver" ng-repeat="(id, driver) in race.drivers track by $index">
                        <a class="k-link" href="/#/pilot/{{::id}}">{{::  driver.name }}</a>
                        <div class="k-race-driver__cart" title="Номер карта">{{:: driver.kart }}</div>
                    </div>
                </div>
                <div class="k-race-lap" ng-repeat="lap in race.laps track by $index">
                    <div class="k-race-cell k-table-header-col__cell">{{:: $index+1 }}</div>
                    <div class="k-race-cell k-race-cell_{{ $index+1 }}" ng-class="{'k-race-cell_best':  lap[ dkey ].time == race.drivers[ dkey ].best }" ng-repeat="(dkey, dvalue) in race.drivers track by $index">
                        {{:: lap[ dkey ].time }}
                    </div>
                </div>
                <div class="k-race-lap" title="Среднее время">
                    <div class="k-race-cell k-table-header-col__cell k-race-cell_average">A</div>
                    <div class="k-race-cell k-race-cell_{{ $index+1 }} k-race-cell_average" ng-repeat="driver in race.drivers track by $index">
                        {{:: driver.average }}
                    </div>
                </div>
                <div class="k-race-lap" title="Позиция">
                    <div class="k-race-cell k-table-header-col__cell k-race-cell_average">P</div>
                    <div class="k-race-cell k-race-cell_{{ $index+1 }} k-race-cell_average" ng-repeat="driver in race.drivers track by $index">
                        {{:: driver.pos }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="k-race-data__row">
        <canvas class="k-race-chart" width="800" height="300"></canvas>
    </div>
</div>
