<div class="k-races-list" ng-show="loading">
    <h2>Загрузка</h2>
</div>

<div class="k-table" ng-show="!loading">
    <div class="k-table-row">
        <div class="k-table-cell k-club-stat__karts_holder">

            <div class="k-table k-club-stat__karts">

                <h3 class="k-header">Top по картам</h3>
                <div class="k-table-header">
                    <div class="k-table-header__cell">Место</div>
                    <div class="k-table-header__cell">Карт</div>
                    <div class="k-table-header__cell">Лучшее время</div>
                </div>

                <div class="k-table-row k-table-row_zebra" ng-repeat="data in karts track by $index">
                    <div class="k-table-cell">
                        {{:: $index+1 }}
                    </div>
                    <div class="k-table-cell">
                        {{:: data.kart }}
                    </div>
                    <div class="k-table-cell">{{:: data.best }}</div>
                </div>
            </div>
        </div>

        <div class="k-table-cell k-club-stat__pilots_holder">
            <div class="k-table k-club-stat__pilots">

                <h3 class="k-header">Top по пилотам</h3>
                <div class="k-table-header">
                    <div class="k-table-header__cell">Место</div>
                    <div class="k-table-header__cell">Пилот</div>
                    <div class="k-table-header__cell">Карт</div>
                    <div class="k-table-header__cell">Лучшее время</div>
                    <div class="k-table-header__cell">Заезд</div>
                </div>

                <div class="k-table-row k-table-row_zebra" ng-repeat="data in pilots track by $index">
                    <div class="k-table-cell">
                        {{:: $index+1 }}
                    </div>
                    <div class="k-table-cell">
                        {{:: data.dname }}
                    </div>
                    <div class="k-table-cell">
                        {{:: data.kart }}
                    </div>
                    <div class="k-table-cell">{{:: data.best }}</div>
                    <div class="k-table-cell">
                        {{:: data.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
