<div class="k-page k-page_club">

    <h2 class="k-header">Статистика по клубу</h2>

    <div class="k-clubs k-clubs_club">
        <label class="k-club-select"
            ng-repeat="(key,value) in clubs track by $index"
            ng-class="{ 'k-club-select_active' : clubId == value }"
            ng-click="changeClub(value)">
            {{:: key}}
        </label>
    </div>

    <h3 class="k-header">Лучшие карты за период</h3>

    <div class="k-periods">

        <label class="k-period"
            ng-click="setPeriod('month')"
            ng-class="{'k-period_active': isActive('month')}">
            Месяц
        </label>
        <label class="k-period"
            ng-click="setPeriod('week')"
            ng-class="{'k-period_active': isActive('week')}">
            Неделя
        </label>
        <label class="k-period"
            ng-click="setPeriod(today)"
            ng-class="{'k-period_active': isActive(today)}">
            Сегодня
        </label>
        <label class="k-period"
            ng-click="setPeriod(yesterday)"
            ng-class="{'k-period_active': isActive(yesterday)}">
            Вчера
        </label>
    </div>

    <club data-club-id="clubId" data-period="period"></club>

</div>
