.k-clubs_races
{
    margin-bottom: @margin_big;
}

.k-races-list {
    .display-table;
    table-layout: fixed;
}

.k-race__cell_name {
    width: 24%;
}

.k-race__cell_club {
    width: 11%;
}

.k-race__cell_date {
    width: 25%;
}

.k-race__cell_winner {
    width: 20%;
}

.k-race__cell_kart,
.k-race__cell_laps {
    width: 10%;
}

.k-races-list__race {
    .display-row;
}

.k-races-list__race_header {
    font-weight: bold;

    .k-race__cell {
        background-color: @color_2;
        line-height: 50px;
    }
}

.k-races-list__race {
    background-color: @color_4;
}

.k-races-list__race:hover {
    transition: all 0.35s linear;

    .k-race__cell {
        transition: background 0.35s linear;
        background-color: lighten(@color_1, 10%);
        color: @color_3;
    }
}

.k-races-list__race:nth-child(even) {
    background-color: @color_5;
}

.k-race__cell {
    white-space: nowrap;
    line-height: 3em;
    padding: 0 @margin_normal/2 0 @margin_normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.k-races-list_single-club
{
    .k-race__cell_name {
        width: 35%;
    }

    .k-race__cell_date {
        width: 25%;
    }

    .k-race__cell_winner {
        width: 20%;
    }

    .k-race__cell_kart,
    .k-race__cell_laps {
        width: 10%;
    }
}

@media screen and (max-width: 400px),(max-device-width:400px){

    .k-race__cell_kart
    {
        display: none;
    }

    .k-race__cell
    {
        // font-size: 10px;
        white-space: nowrap;
        line-height: 2.5em;
        padding: 0 @margin_small/4 0 @margin_normal/4;
    }

    .k-races-list__race_header
    {
        .k-race__cell
        {
            // font-size: 14px;
            font-weight: normal;
        }
    }
}
