.k-header {
    display: table;
}

.k-race-basic__wrapper,
.k-kart-logo {
    display: table-cell;
    vertical-align: top;
}

.k-race-drivers,
.k-race-data__row {
    .display-row;
}

.k-race-data__cell {
    vertical-align: top;
}

.k-race-data__cell_grid {
    width: 80%;
}

.k-race-data__cell_basic {
    width: 19%;
}

.k-race-laps {
    .display-table;
    margin: 0 auto;
}

.k-race-basic {
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    color: @color_3;
    background-color: @color_5;
    border: 1px solid @color_4;
    border-radius: 2px;
}

.k-race-basic__label {
    color: @color_1;
}

.k-race-basic__label_race {
    font-size: 24px;
    color: @color_3;
}

.k-race-basic__label_date {
    margin: @margin_micro 0;
}

.k-race-basic__value {
    color: @color_3;
    // font-weight: bold;
}

.k-race-data {
    .display-table;
    table-layout: fixed;
    width: 75%;
    margin: 0 auto;
}

.k-race-driver {
    background-color: @color_2;
    color: @color_3;
    height: 50px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.k-race-driver__cart {
    font-weight: normal;
}

.k-race-lap {
    .display-row;

    &:hover {
        .k-race-cell {
            background-color: @color_2;
            color: @color_3;
        }
    }
}

.k-race-cell__header {
    font-weight: bold;
    background-color: @color_2;
    color: @color_3;
    width: 5%;
}

.k-race-cell {
    border-collapse: collapse;
    padding: @margin_micro @margin_small;
    line-height: 1.2em;
}

.k-race-cell_best {
    font-weight: bold;
    color: @color_1;
    text-shadow: 0 0 2px @color_3;
}

.k-race-chart {
    margin-top: @margin_big;
}

.k-race-cell_average {
    border-top: 2px solid @color_2;
}

.k-race-cell_1,
.k-race-cell_3,
.k-race-cell_5,
.k-race-cell_7,
.k-race-cell_9,
.k-race-cell_11 {
    background-color: @color_4;
}

.k-race-cell_2,
.k-race-cell_4,
.k-race-cell_6,
.k-race-cell_8,
.k-race-cell_10,
.k-race-cell_12 {
    background-color: @color_5;
}
