
.k-kart-logo {
    display: table-cell;
    vertical-align: top;
}

.k-race-drivers,
.k-race-data__row {
    .display-row;
}

.k-race-data__cell {
    vertical-align: top;
}

.k-race-data__cell_grid {
    width: 80%;
}

.k-race-data__cell_basic {
    width: 19%;
}

.k-race-laps {
    .display-table;
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;
}

.k-race-basic {
    padding: @margin_micro*4;
    margin: @margin_small 0;
    width: 100%;
    color: @color_3;
    background-color: @color_5;
    border: 1px solid @color_4;
    border-radius: 2px;
}

.k-race-basic__label {
    color: @color_3;
    margin: @margin_micro 0;
}

.k-race-basic__value {
    font-weight: bold;
}

.k-race-data {
    .display-table;
    table-layout: fixed;
}


.k-race-driver {
    width: 13.5%;
}

.k-race-laps__drivers1 .k-race-driver
{
    width: 95%;
}

.k-race-laps__drivers2 .k-race-driver
{
    width: 45%;
}
.k-race-laps__drivers3 .k-race-driver
{
    width: 31.5%;
}
.k-race-laps__drivers4 .k-race-driver
{
    width: 23.5%;
}
.k-race-laps__drivers5 .k-race-driver
{
    width: 19%;
}
.k-race-laps__drivers6 .k-race-driver
{
    width: 15.8%;
}
.k-race-laps__drivers7 .k-race-driver
{
    width: 13.5%;
}
.k-race-laps__drivers8 .k-race-driver
{
    width: 11.8%;
}
.k-race-laps__drivers9 .k-race-driver
{
    width: 10.5%;
}
.k-race-laps__drivers10 .k-race-driver
{
    width: 9.5%;
}

.k-race-driver__cart {
    font-weight: normal;
}

.k-race-lap {
    .display-row;

    transition: all 0.35s linear;
    &:hover {
        .k-race-cell {
            transition: background 0.35s linear;
            background-color: lighten(@color_1, 10%);
            color: @color_3;
        }
    }
}

.k-race-cell {
    text-align: center;
    border-collapse: collapse;
    padding: @margin_micro @margin_small;
    line-height: 1.2em;
    // width:
}

.k-race-cell_best {
    // font-weight: bold;
    // color: @color_1;
    // text-shadow: 0 0 2px @color_3;
}

.k-race-chart {
    margin-top: @margin_big;
}

.k-race-cell_average {
    border-top: 25px solid @color_1;
    line-height: 40px;
}

.k-race-cell_1,
.k-race-cell_3,
.k-race-cell_5,
.k-race-cell_7,
.k-race-cell_9,
.k-race-cell_11 {
    background-color: @color_4;
}

.k-race-cell_2,
.k-race-cell_4,
.k-race-cell_6,
.k-race-cell_8,
.k-race-cell_10,
.k-race-cell_12 {
    background-color: @color_5;

}

.k-race-cell_1.k-race-cell_best,
.k-race-cell_3.k-race-cell_best,
.k-race-cell_5.k-race-cell_best,
.k-race-cell_7.k-race-cell_best,
.k-race-cell_9.k-race-cell_best,
.k-race-cell_11.k-race-cell_best {
    background-color: @color_5;
}

.k-race-cell_2.k-race-cell_best,
.k-race-cell_4.k-race-cell_best,
.k-race-cell_6.k-race-cell_best,
.k-race-cell_8.k-race-cell_best,
.k-race-cell_10.k-race-cell_best,
.k-race-cell_12.k-race-cell_best {
    background-color: @color_4;
}
